<div class="jumbotron">
	<div class="container">
		<hgroup>
			<h1>关于</h1>
			<h4>本公司的成长介绍...</h4>
		</hgroup>
	</div>
</div>

<div id="about">
	<div class="container">
		<div class="row">
			<div class="col-md-3 hidden-sm hidden-xs">
				<div class="list-group">
					<a class="list-group-item" href="#1">1.公司介绍</a>
					<a class="list-group-item" href="#3">2.联系方式</a>
				</div>
			</div>
			<div class="col-md-9 about">
				<a id="1"></a>
				<h3>公司简介</h3>
				<p>{$data.content}</p>
				<a id="3"></a>
				<h3>联系方式</h3>
				<p>地址：{$data.addr}</p>
				<p>邮编：{$data.mail}</p>
				<p>电话：{$data.phone}</p>
				<p>email：{$data.email}</p>
			</div>
		</div>
	</div>
</div>
